.main
  .main-header
    .main-header__leftbox
      .main-header__leftbox--group
        = @group.name
      .main-header__leftbox--member
        member:
        - @group.users.each do |user|
          = user.name
    =link_to edit_group_path(@group), class: "main-header__btn" do
      Edit
  .main-chat
    - @messages.each do |message|
      .main-chat__message
        .main-chat__message--username
          = message.user.name
        .main-chat__message--date
          = message.created_at
        - if message.content.present?
          .main-chat__message--text
            = message.content
        = image_tag message.image.url, class: 'main-chat__message--image' if message.image.present?
  = form_for [@group, @message] do |f|
    .main-form
      = f.text_field :content, class: 'main-form__text', placeholder: 'type a message'
      = f.label :image, class: 'main-form__image' do
        = icon('fas', 'image', class: "main-form__image--icon")
        = f.file_field :image, class: "main-form__image--file"
      = f.submit 'Send', class: "main-form__submit"